version: 2

updates:
- package-ecosystem: "cargo"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    egui:
      patterns:
      - "egui*"
      - "eframe*"
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: weekly
